<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find examples)/urdf/exabot.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'"/>

  <!-- Publish joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" />
</launch>
